<%= link_to (icon_detalles + "Detalles").html_safe, "#", id: "link-to-alumno-detalle-#{alumno_id}", class: 'btn btn-success btn-xs', title: 'Haga click para ver detalles del alumno', onclick: "$('.modal').html('');return false;" %>

<script type="text/javascript">

  $("#link-to-alumno-detalle-<%= alumno_id %>").bind('click', function(){

    var contenido = $.trim($("#alumno-detalle-<%= alumno_id %>").html());

    $(".alumno-detalle").html('');

    if(contenido.length == 0){

    $(this).parent().parent().after("<tr id='alumno-detalle-<%= alumno_id %>' class='alumno-detalle'><td colspan='4' style='text-align:center;'><i class='fa fa-refresh fa-spin'></i> Cargando...</td></tr>")

      $.ajax({

        type: 'GET',
        url: '<%= url_for(alumnos_alumno_detalle_path) %>',  
        data: { alumno_id: <%= alumno_id %>},
        dataType: 'script'
        
      })

    }
    
    return false;
  })

</script>