<% if @pilotos.present? %>

  <% @pilotos.each do |p| %>

    <tr>

      <td style="width:50px;"><%= p.piloto_id %></td>
      <td><%= p.nombres%></td>
      <td><%= p.apellidos%></td>
      <td><%= p.ci %></td>
      <td><%= p.fecha_nacimiento.strftime("%d/%m/%Y") if p.fecha_nacimiento.present?%></td>
      <td><%= p.direccion%></td>
      <td><%= p.telefono%></td>
      <td><%= piloto_avatar(p, class: 'media-object img-circle', style: 'width:50px;height:50px;', value: 'M' ) %></td>
      
      <td style="width:120px;">
        
        <%= link_to_editar_piloto(p.piloto_id) %>
        
        <%= link_to icon_eliminar, pilotos_eliminar_path(piloto_id: p.piloto_id), remote: true, class: "btn btn-danger btn-xs", title: 'Haga click para eliminar el Piloto', data: { confirm: "Está seguro de eliminar el Piloto?"} %>
      
       </td> 

      </td>

    </tr>

  <% end %>

<tr id="tab-paginacion">

    <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate piloto, :params => params %></div></td>
</tr>

<tr>
    <td colspan="12">
      Cantidad de registros encontrados: <%= @total_encontrados %> 
    </td>
</tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>
