<% if cuotas_detalles.present? %>

  <% cuotas_detalles.each do |cd| %>

    <tr>

      <td><%= cd.cuota_detalle_id %></td>
      <td><%= cd.fecha_generacion.strftime('%d/%m/%Y')%></td>
      <td><%=cd.ci_alumno%></td>
      <td><%= cd.nombre_alumno %></td>
      <td><%= cd.cuota %></td>
      <td><%= cd.anho_periodo %></td>
      <td><%=cd.nivel %></td>
      <td><%=cd.sala%></td>
      <td><%=cd.sucursal  %></td>
      <td><%=cd.monto_cuota.to_s.reverse.gsub(/...(?=.)/,'\&.').reverse %></td>
    
      <td>

      <%#= link_to_cuota_detalle(ps.cuota_id) %> 
         
      </td>

     
     

      </td>

    </tr>

  <% end %>

<tr id="tab-paginacion">

    <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate cuotas_detalles, :params => params %></div></td>
</tr>

<tr>
    <td colspan="12">
      Cantidad de registros encontrados: <%= @total_encontrados %> 
    </td>
</tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>


<script type="text/javascript">

  

</script>