<%= javascript_include_tag "sweetalert.min" %>
<%= stylesheet_link_tag "sweetalert" %>
<div>

  <div class="col-sm-12" style="border-bottom: 2px solid #b6b6b6;margin-bottom:5px;padding:0px;">
    <h3 style="float:left;margin-top:5px;">Pagos de Cuotas</h3>
  </div>
</div>

<div style="clear:both;"></div>
 
<div class="table-responsive" id="table-pagos-cuotas">

  <table class="table table-small-font table-bordered table-striped" style="font-size:11px;">
   
    <thead>

      <%= form_tag cuotas_lista_cuotas_detalles_path, remote: true, id: "form-buscar-pagos-cuotas"  do  %>

        <tr>

          <th>
            <span>ID</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_cuotas_detalles_id, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-pagos-cuotas', '#form_buscar_cuotas_detalles_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>
          
          <th>
            <div><%= label_tag nil, "Fecha".html_safe %></div>
              <div class='input-group date'>
                <%= text_field_tag :form_buscar_cuotas_detalles_fecha, nil, class: 'form-control input-sm' %>
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-pagos-cuotas', '#form_buscar_cuotas_detalles_fecha');"><i class="fa fa-times"></i></span>
              </div>
         </th>

          <th>
            <span>Mes</span>
            <div class="input-group input-group-sm">
              <%= collection_select :form_buscar_cuotas_detalles, :mes_periodo_id, Mes.orden_mes, :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-pagos-cuotas', '#form_buscar_cuotas_detalles_mes_periodo_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th>
            <span>Periodo Escolar</span>
            <div class="input-group input-group-sm">
              <%= collection_select :form_buscar_cuotas_detalles, :periodo_escolar_id, PeriodoEscolar.orden_periodo, :id, :anho_periodo, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-pagos-cuotas', '#form_buscar_cuotas_detalles_periodo_escolar_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th>
            <span>Sucursal</span>
            <div class="input-group input-group-sm">
              <%= collection_select :form_buscar_cuotas_detalles, :sucursal_id, Sucursal.orden_01, :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-pagos-cuotas', '#form_buscar_cuotas_detalles_sucursal_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th>
            <span>Nivel</span>
            <div class="input-group input-group-sm">
              <%= collection_select :form_buscar_cuotas_detalles, :nivel_id, Nivel.orden_descripcion, :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-pagos-cuotas', '#form_buscar_cuotas_detalles_nivel_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th>
            <span>Sala<br/></span>
            <div class="input-group input-group-sm">
              <%= collection_select :form_buscar_cuotas_detalles, :sala_id, Sala.orden_descripcion, :id, :descripcion, { include_blank: true}, {:class => 'form-control input-sm', style: "font-size:9px;"} %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-pagos-cuotas', '#form_buscar_cuotas_detalles_sala_id');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th >
            <span>Total Cuotas</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_cuotas_detalles_total_cuotas, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-pagos-cuotas', '#form_buscar_cuotas_detalles_total_cuotas');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th >
            <span>Total Cobradas</span>
            <div class="input-group input-group-sm">
              <%= text_field_tag :form_buscar_cuotas_detalles_total_cobradas, nil, :class => 'form-control', :placeholder => "" %>
              <span class="input-group-addon limpiar" onclick="quitar_filtro('#form-buscar-pagos-cuotas', '#form_buscar_cuotas_detalles_total_cobradas');"><i class="fa fa-times"></i></span>
            </div>
          </th>

          <th></th>

        </tr>

        <% end %>

      </thead> 

    <tbody id="pagos-cuotas-detalles-lista"></tbody>
  
  </table>

</div>




<script type="text/javascript">

  //---------------------------- RECUPERANDO DATOS ----------------------------//
  $("#form-buscar-pagos-cuotas").bind("submit", function () {
    
    var valido = true;
      
    if(valido){
    $(".nmb").html('');       
    $("#pagos-cuotas-lista").html("<%= escape_javascript("<tr><td colspan='9' style='text-align:center;'>#{image_tag('ajax-loader0.gif')}</td></tr>").html_safe %>")      
    }

    

  })
 
  //---------------------------------------------------------------------------//
  //---------------------------- BUSCAR PERSONAS-------- -------------------------//
  $("#table-pagos-cuotas input, #table-pagos-cuotas select").bind('change', function () {
      $.ajaxQ.abortAll();
      $("#form-buscar-pagos-cuotas").submit();

  })
  //----------------------------------------------------------------------------//
  //----------------------------INICIO -----------------------------------------//
  aplicar_datepicker();
  $("#form-buscar-pagos-cuotas").submit();
  <% if params[:agregar] %>
    $("#link-to-agregar-pagos-cuotas").trigger('click');
  <% end %>
  //----------------------------------------------------------------------------//
</script>

<style>
    /*INTRO.JS*/
    .introjs-helperNumberLayer{
        width: 23px;
        height: 23px;
        padding: 0px;
    }

    #start-tour{
        cursor: pointer;
    }

    #form-buscar-pagos-cuotas table th { background:#e6e6e6;}
    #form-buscar-pagos-cuotas table th span.limpiar { background:#fff;}

</style>
