<div style="width: 100%; text-align: center; margin-top:10px;">
 
    <%#= wicked_pdf_image_tag 'escudo.png', :size => "48x40" %>
  
    <p style="font-size: 14px; text-align: center; font-family: times new roman">
    
      Sistema de gestión para Centros  - Monigote<br />
      <label style="font-size: 18px;">RESUMEN CUOTAS</label>
      <br />
      <label style="font-size: 15px;">Resumen</label>
      <br />
      <label style="font-size: 15px;"></label>
    </p>
    </br>
    </br>
    
</div>

<div id="cont" style="width:80%;">

  <table style="text-align: left; font-size: 12px; margin-left: 10%;" width="80%">
    
    <%if params[:fecha_desde].present?%>
    <tr>
    
      <th width="20%">Fecha desde: </th>
      <td width="40%"><%=params[:fecha_desde] %></td>

    <%end%>

    </tr>

     <%if params[:fecha_hasta].present?%>
    <tr>
    
      <th width="20%">Fecha hasta: </th>
      <td width="40%"><%=params[:fecha_hasta] %></td>

    <%end%>

    </tr>
    
    <%if params[:alumno_id].present?%>
      <% @alumno = VAlumno.where("alumno_id = ?", params[:alumno_id]).first %>
      <tr>
        
        <th width="20%">Alumno:</th>
        <td width="40%"><%=@alumno.nombre%> <%=@alumno.apellido%></td>

      </tr>

    <%end%>


    <%if params[:nivel_id].present?%>
      <% @nivel = Nivel.where("id = ?", params[:nivel_id]).first %>
      <tr>
      
        <th width="20%">Nivel:</th>
        <td width="40%"><%=@nivel.descripcion%></td>

      </tr>
    <%end%>

    
    <%if params[:estado_pago_cuota_detalle_id].present?%>
      <% @estado_pago_cuota = EstadoPagoCuotaDetalle.where("id = ?", params[:estado_pago_cuota_detalle_id]).first %>
      <tr>
      
        <th width="20%">Estado Cobro:</th>
        <td width="40%"><%=@estado_pago_cuota.descripcion%></td>

      </tr>
    <%end%>
    
  </table>
<br/>

</div>