<%= javascript_include_tag "sweetalert.min" %>
<%= stylesheet_link_tag "sweetalert" %>
<div class="col-sm-12" style="border-bottom: 2px solid #b6b6b6; margin-bottom: 15px; padding: 0;">
  <h3 style="float:left; margin-top:5px;">Reportes</h3>
</div>

<div class="row" style="margin-top: 15px;">
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body" style="text-align:center; min-height: 170px;">
        <h4>Reporte General</h4>
        <p>Resumen general de alumnos y cuotas por filtros.</p>
        <button type="button" class="btn btn-primary" id="btn-abrir-modal-reporte-general">
          Emitir reporte
        </button>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body" style="text-align:center; min-height: 170px;">
        <h4>Informe de Gastos</h4>
        <p>Informe de gastos por rango de fechas.</p>
        <button
          type="button"
          class="btn btn-warning btn-abrir-modal-fechas"
          data-titulo="Informe de Gastos"
          data-url="<%= informes_index_gastos_path(format: :pdf) %>">
          Emitir reporte
        </button>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body" style="text-align:center; min-height: 170px;">
        <h4>Balance General</h4>
        <p>Balance general por rango de fechas.</p>
        <button
          type="button"
          class="btn btn-success btn-abrir-modal-fechas"
          data-titulo="Balance General"
          data-url="<%= informes_index_balance_path(format: :pdf) %>">
          Emitir reporte
        </button>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12" id="panel-morosidad" style="border-bottom: 2px solid #b6b6b6; margin-top: 10px; margin-bottom: 15px; padding: 0;">
  <h3 style="float:left; margin-top:5px;">Panel de Morosidad</h3>
</div>

<div class="row" style="margin-top: 10px;">
  <%= form_tag informes_index_path(anchor: "panel-morosidad"), method: :get, id: "form-panel-morosidad" do %>
    <div class="col-sm-2">
      <label>Fecha desde</label>
      <div class="input-group date">
        <%= text_field_tag :morosidad_fecha_desde, @morosidad_filtros[:fecha_desde], class: "form-control input-sm", autocomplete: "off" %>
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </div>
    <div class="col-sm-2">
      <label>Fecha hasta</label>
      <div class="input-group date">
        <%= text_field_tag :morosidad_fecha_hasta, @morosidad_filtros[:fecha_hasta], class: "form-control input-sm", autocomplete: "off" %>
        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
      </div>
    </div>
    <div class="col-sm-2">
      <label>Sucursal</label>
      <%= select_tag :morosidad_sucursal_id, options_from_collection_for_select(Sucursal.orden_01, :id, :descripcion, @morosidad_filtros[:sucursal_id]), include_blank: true, class: "form-control input-sm" %>
    </div>
    <div class="col-sm-2">
      <label>Nivel</label>
      <%= select_tag :morosidad_nivel_id, options_from_collection_for_select(Nivel.orden_descripcion, :id, :descripcion, @morosidad_filtros[:nivel_id]), include_blank: true, class: "form-control input-sm" %>
    </div>
    <div class="col-sm-2">
      <label>Alumno o CI</label>
      <%= text_field_tag :morosidad_alumno, @morosidad_filtros[:alumno], class: "form-control input-sm" %>
    </div>
    <div class="col-sm-2" style="margin-top: 24px;">
      <%= submit_tag "Filtrar", class: "btn btn-primary btn-sm" %>
      <%= link_to "Limpiar", informes_index_path(anchor: "panel-morosidad"), class: "btn btn-default btn-sm" %>
    </div>
  <% end %>
</div>

<div class="row" style="margin-top: 15px;">
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <strong>Casos pendientes</strong>
        <h4 style="margin:6px 0 0 0;"><%= @morosidad_total_casos %></h4>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <strong>Total pendiente</strong>
        <h4 style="margin:6px 0 0 0;">Gs. <%= number_with_delimiter(@morosidad_total_pendiente.to_i, delimiter: ".") %></h4>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="panel panel-warning">
      <div class="panel-body">
        <strong>0 a 30 días</strong>
        <h5 style="margin:6px 0 0 0;">Gs. <%= number_with_delimiter(@morosidad_0_30.to_i, delimiter: ".") %></h5>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="panel panel-danger">
      <div class="panel-body">
        <strong>31 a 60 días</strong>
        <h5 style="margin:6px 0 0 0;">Gs. <%= number_with_delimiter(@morosidad_31_60.to_i, delimiter: ".") %></h5>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="panel panel-danger">
      <div class="panel-body">
        <strong>61+ días</strong>
        <h5 style="margin:6px 0 0 0;">Gs. <%= number_with_delimiter(@morosidad_61_mas.to_i, delimiter: ".") %></h5>
      </div>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-small-font table-bordered table-striped" style="font-size:11px;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha cuota</th>
        <th>Días mora</th>
        <th>Alumno</th>
        <th>CI</th>
        <th>Sucursal</th>
        <th>Nivel / Sala</th>
        <th>Periodo</th>
        <th>Pendiente</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <% if @cuotas_morosas.present? %>
        <% @cuotas_morosas.each do |detalle| %>
          <% dias_mora = detalle.fecha_generacion.present? ? (Date.current - detalle.fecha_generacion.to_date).to_i : 0 %>
          <tr>
            <td><%= detalle.cuota_detalle_id %></td>
            <td><%= detalle.fecha_generacion.present? ? detalle.fecha_generacion.strftime("%d/%m/%Y") : "-" %></td>
            <td><%= dias_mora %></td>
            <td><%= detalle.nombre_alumno %></td>
            <td><%= detalle.ci_alumno %></td>
            <td><%= detalle.sucursal %></td>
            <td><%= "#{detalle.nivel} / #{detalle.sala}" %></td>
            <td><%= "#{detalle.mes_periodo} / #{detalle.periodo_escolar_id}" %></td>
            <td>Gs. <%= number_with_delimiter(detalle.monto_pendiente.to_i, delimiter: ".") %></td>
            <td>
              <%= link_to "Notificar", cuotas_notificar_cuota_pendiente_path(cuota_detalle_id: detalle.cuota_detalle_id), remote: true, class: "btn btn-xs btn-warning" %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="10" style="text-align:center;">No se encontraron cuotas pendientes con los filtros seleccionados.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div style="text-align: right;">
  <%= will_paginate @cuotas_morosas, param_name: :morosidad_page, params: {
    morosidad_fecha_desde: @morosidad_filtros[:fecha_desde],
    morosidad_fecha_hasta: @morosidad_filtros[:fecha_hasta],
    morosidad_sucursal_id: @morosidad_filtros[:sucursal_id],
    morosidad_nivel_id: @morosidad_filtros[:nivel_id],
    morosidad_alumno: @morosidad_filtros[:alumno],
    anchor: "panel-morosidad"
  } %>
</div>

<div class="modal fade" id="modal-reporte-general" tabindex="-1" role="dialog" aria-labelledby="titulo-modal-reporte-general">
  <div class="modal-dialog" role="document" style="width: 760px; max-width: 95%;">
    <div class="modal-content">
      <div class="modal-header" style="background:#e6e6e6;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="titulo-modal-reporte-general">Reporte General</h4>
      </div>

      <%= form_tag informes_indexa_path, remote: true, method: :get, id: "form-reporte-general" do %>
        <div class="modal-body" style="background:#e6e6e6;">
          <div class="row">
            <div class="col-sm-4"><%= label_tag nil, "Alumno" %></div>
            <%= hidden_field_tag :v_alumno_id %>
            <div class="col-sm-8" style="margin-bottom: 10px;"><%= text_area_tag :alumno_id, nil, rows: 2, class: 'form-control input-sm' %></div>
          </div>

          <div class="row">
            <div class="col-sm-4"><%= label_tag nil, "Sucursal" %></div>
            <div class="col-sm-8" style="margin-bottom: 10px;"><%= collection_select :sucursal, :id, Sucursal.orden_01, :id, :descripcion, { include_blank: true }, { class: 'form-control input-sm' } %></div>
          </div>

          <div class="row">
            <div class="col-sm-4"><%= label_tag nil, "Nivel" %></div>
            <div class="col-sm-8" style="margin-bottom: 10px;"><%= collection_select :nivel, :id, Nivel.orden_descripcion, :id, :descripcion, { include_blank: true }, { class: 'form-control input-sm' } %></div>
          </div>

          <div class="row">
            <div class="col-sm-4"><%= label_tag nil, "Periodo Escolar" %></div>
            <div class="col-sm-8" style="margin-bottom: 10px;"><%= collection_select :periodo_escolar, :id, PeriodoEscolar.orden_periodo, :id, :anho_periodo, { include_blank: true }, { class: 'form-control input-sm' } %></div>
          </div>

          <div class="row">
            <div class="col-sm-4"><%= label_tag nil, "Mes Periodo" %></div>
            <div class="col-sm-8" style="margin-bottom: 10px;"><%= collection_select :mes_periodo, :id, Mes.orden_mes, :id, :descripcion, { include_blank: true }, { class: 'form-control input-sm' } %></div>
          </div>

          <div class="row">
            <div class="col-sm-4"><%= label_tag nil, "Estado Pago Cuota" %></div>
            <div class="col-sm-8" style="margin-bottom: 10px;"><%= collection_select :estado_pago_cuota_detalle, :id, EstadoPagoCuotaDetalle.orden_01, :id, :descripcion, { include_blank: false }, { class: 'form-control input-sm' } %></div>
          </div>

          <div class="row">
            <div class="col-sm-4"><%= label_tag :fecha_desde_general, "Desde la Fecha" %></div>
            <div class="col-sm-8" style="margin-bottom: 10px;">
              <div class="input-group date">
                <%= text_field_tag :fecha_desde, nil, class: 'form-control input-sm', id: 'fecha_desde_general' %>
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4"><%= label_tag :fecha_hasta_general, "Hasta la Fecha" %></div>
            <div class="col-sm-8">
              <div class="input-group date">
                <%= text_field_tag :fecha_hasta, nil, class: 'form-control input-sm', id: 'fecha_hasta_general' %>
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer" style="background:#e6e6e6;">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <%= submit_tag "Generar Reporte General", class: "btn btn-primary", id: "btn-generar-reporte-general" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-filtro-fechas-reporte" tabindex="-1" role="dialog" aria-labelledby="titulo-modal-filtro-fechas-reporte">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background:#e6e6e6;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="titulo-modal-filtro-fechas-reporte">Emitir reporte</h4>
      </div>

      <%= form_tag informes_index_path, method: :get, id: "form-filtro-fechas-reporte", target: "_blank" do %>
        <div class="modal-body">
          <div class="form-group">
            <%= label_tag :fecha_desde_simple, "Fecha desde" %>
            <div class='input-group date'>
              <%= text_field_tag :fecha_desde, nil, class: 'form-control input-sm', autocomplete: 'off', id: 'fecha_desde_simple' %>
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :fecha_hasta_simple, "Fecha hasta" %>
            <div class='input-group date'>
              <%= text_field_tag :fecha_hasta, nil, class: 'form-control input-sm', autocomplete: 'off', id: 'fecha_hasta_simple' %>
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </div>
        </div>

        <div class="modal-footer" style="background:#e6e6e6;">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <%= submit_tag "Emitir", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<style type="text/css">

  #form-agregar-cita label, #form-agregar-cita input[type='text'], #form-agregar-cita select { float:left; margin-top:5px;}
  #form-agregar-cita br {clear:both; }
  #form-agregar-cita label { width:200px;font-size:12px;margin-top:10px;}
  .ui-autocomplete{z-index: 1000000; font-size: 10px;}
  

</style>


<script type="text/javascript">
  $(document).ready(function() {
    aplicar_datepicker();

    $("#btn-abrir-modal-reporte-general").on("click", function() {
      $("#modal-reporte-general").modal("show");
    });

    $(".btn-abrir-modal-fechas").on("click", function() {
      var $btn = $(this);
      var titulo = $btn.data("titulo");
      var actionUrl = $btn.data("url");

      $("#titulo-modal-filtro-fechas-reporte").text("Emitir " + titulo);
      $("#form-filtro-fechas-reporte").attr("action", actionUrl);
      $("#fecha_desde_simple").val("");
      $("#fecha_hasta_simple").val("");
      $("#modal-filtro-fechas-reporte").modal("show");
    });

    $("#form-filtro-fechas-reporte").on("submit", function() {
      var fechaDesde = $.trim($("#fecha_desde_simple").val());
      var fechaHasta = $.trim($("#fecha_hasta_simple").val());

      if (fechaDesde.length === 0 || fechaHasta.length === 0) {
        alert("Debe seleccionar la fecha desde y la fecha hasta.");
        return false;
      }

      $("#modal-filtro-fechas-reporte").modal("hide");
      return true;
    });

    $("#alumno_id").on("focus", function() {
      var alumnos = [];
      $("#v_alumno_id").val("");
      $("#alumno_id").val("");
      $("#alumno_id").attr("readonly", false);

      $.getJSON("<%= url_for(alumnos_buscar_alumno_path) %>", { alumno: $("#alumno_id").val() }, function(j) {
        var nombre = "";
        var options = "<option value=''> -- Seleccione un Alumno -- </option>";

        for (var i = 0; i < j.length; i++) {
          if (j[i].nombre !== nombre) {
            alumnos.push({ value: j[i].id + " - " + j[i].nombres + " " + j[i].apellidos });
            nombre = j[i].id + " - " + j[i].nombre + " " + j[i].apellidos;
            options += "<option value='" + j[i].id + " - " + j[i].nombre + " " + j[i].apellidos + "'></option>";
          }
        }

        $("#alumno_id").html(options);
      });

      $("#alumno_id").autocomplete({
        minLength: 1,
        source: alumnos,
        focus: function(event, ui) {
          $("#alumno_id").val(ui.item.label);
          return false;
        },
        select: function(event, ui) {
          var datos = ui.item.value.split(" - ");
          $("#alumno_id").val(ui.item.label);
          $("#v_alumno_id").val(datos[0]);
          return false;
        }
      });
    });
  });
</script>
