<% if @tutores.present? %>

  <% @tutores.each do |p| %>

    <tr>

      <td style="width:50px;"><%= p.tutor_id %></td>
      <td><%= p.nombres%></td>
      <td><%= p.apellidos%></td>
      <td><%= p.ci %></td>
      <td><%= p.direccion%></td>
      <td><%= p.telefono%></td>
      <td><%= tutor_avatar(p, class: 'media-object img-circle', style: 'width:50px;height:50px;', value: 'M' ) %></td>
      
      <td style="width:120px;">
        
        <%= link_to_editar_tutor(p.tutor_id) %>
        <%= link_to_tutor_detalle(p.tutor_id) %>
        <%= link_to icon_eliminar, tutores_eliminar_path(tutor_id: p.tutor_id), remote: true, class: "btn btn-danger btn-xs", title: 'Haga click para eliminar el Tutor', data: { confirm: "Está seguro de eliminar el Tutor?"} %>
      
       </td> 

      </td>

    </tr>

  <% end %>

<tr id="tab-paginacion">

    <td colspan="12" style="text-align:center;"><div class="flickr_pagination"><%= ajax_will_paginate tutor, :params => params %></div></td>
</tr>

<tr>
    <td colspan="12">
      Cantidad de registros encontrados: <%= @total_encontrados %> 
    </td>
</tr>

 

<% else %>

  <tr>

    <td colspan="12"><p class='none-result'>No se han encontrado resultados.</p></td>

  </tr>


<% end %>
